<%= form_for(@uno, url: formularios_formularios_post_path, method: "post") do |f| %>
  <label for='name'>Name</label>
  <%= f.text_field :name, id: 'name' %>
  <label for='age'>Age</label>
  <%= f.text_field :age, id: 'age' %>
  <label form='address'>Address</label>
  <%= f.text_field :address, id: 'address' %>
  <button type="submit" class="btn btn-default">Submit</button>
<% end %>
<%= params %>
